#date_year, #date_month, #date_day, #year, #month, #day{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    user-select: none;
    padding: 30px;
}
#date_year li, #date_month li, #date_day li{
    margin: 10px 5px 0 5px;
}
#date_year li label, #date_month li label, #date_day li label{
    display: block;
    background: var(--dark-main-color);
    color: var(--accent-color)  ;
    padding: 35px 20px;
    width: 70px;
    border-radius: 2px;
}
#date_year input:checked ~ label, #date_year input, #date_month input:checked ~ label, #date_day input:checked ~ label{
    color: var(--dark-main-color);
    background: var(--accent-color);
    box-shadow: 0px 0px 30px white;
}

#date_year input, #date_month input, #date_day input{
  position: absolute;
  opacity: 0;
}
#date_day li label{
    padding: 15px;
    width: 15px;
}
#date_year{
    background: #FF5722;
}
#date_month{
    background: #4CAF50 ;
}
#date_day{
    padding: 30px 100px;
    background: #3F51B5;
}
#date_name{
    position: absolute;
    display: block;
    background: white;
    color: black;
    z-index: 1;
    width: 100%;
    color: inherit;
}
