:root{
        --dark-main-color:#013243;
    --dark-main-text:#5C97BF;
    --main-color:#2C3E50;
    --light-main-color:#336E7B;
    --main-text:#FFFFFF;
    --accent-color:#009688;
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --divider-color:#BDBDBD;
}
