@import "palette.css";


html, body {
    height: 1000px;
    margin:0;
    color: var(--primary-text-color);
}
header{
    text-align: center;
    background: #3F51B5;
    padding-top: 5px;
    padding-bottom: 10px;
}
h1{
    padding: 0;
    margin: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 33% auto 33%;
}
.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
ul, li{
    list-style-type: none;
    text-align: center;
}
ul{
    padding: 0;
    margin: 0;
}
#time_bar_container{
    margin: 20px 0px 10px 0px;
    background: #303F9F;
    height: 20px;
    text-align: center;
}
#time_bar{
    height: inherit;
    background: #009688;
    width: 1%;
    float: left;
    z-index: -1;
}
#circle{
    border: 0.5px solid black;
    border-radius:100%;
    width: 30px;
    height: 30px;
    margin: 15px auto 15px auto;
    transition-duration: 1s;
    transform: scale(1);
    z-index: 1;
    background-color: white;
    padding: 10px;
    line-height: 200%;
    user-select: none;
}
#circle:hover{
    transition-duration: 3s;
    transform: scale(1.5);
}
#circle:active{
    background: red;
}
#month{
    background: #212121;
    color: white;
    padding: 20px 0px 20px 0px;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    z-index: 1;
    position: relative;
}
#time_line{
    width: 0.8px;
    background:black;
    position:absolute;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    left: 0;
    right: 0;
    height: 80px;
}
#addtaskb{
    font-size: 10px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    vertical-align: middle;
    border: 2px solid #4CAF50; /* Green */
    margin: 15px auto 15px auto;
}
.button:hover{
    background: white;
    color: black;
    transition-duration: 1s;
}
#procent{
color: #BDBDBD;
position: absolute;
width: 100%;
text-align: center;
margin-top: 1px;
height: 10px;
}
#year{
    width: 100%;
    text-align: center;
    margin: 15px auto 15px auto;
    color: red;
}
#button-year-l, #button-year-r{
    margin-right: 50px;
    width: 50px;
    height: 20px;
}
#button-year-r{
    margin-right: 0px;
    margin-left: 50px;
}
#months_list{
    width: 100%;
    display: flex;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;

}
#months{
    border: 2px solid black;
    width: 100px;
    text-align: center;
    margin: 10px 1% 0 1%;
}
.container {
  display: block;
  position: relative;
  margin-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  background-color: #eee;
  z-index: -1;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */


/* Create the indicator (the dot/circle - hidden when not checked) */

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
}

.container input:checked{
  background-color: blue;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
