{% macro render_field(form) %}
<form class="form" action="" method="post">
{% for field in form %}
   {{ form.hidden_tag() }}
   <div class="field">
       {% if field.errors %}
           {% for error in field.errors %}
               <div class="notification_error">{{ error }}</div>
           {% endfor %}
           {% endif %}
       {{ field(placeholder=field.label.text) }}
   </div>
{% endfor %}
<button type="submit" id='submit' name="button" >Continue</button>
</form>
{% endmacro %}


{% macro render_field_task(form, begin_date='') %}
<form class="form" action="" method="post">
{% for field in form %}
    {{ form.hidden_tag() }}
    <div class="field">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="notification_error">{{ error }}</div>
            {% endfor %}
        {% endif %}
            {% if field.name == 'task_start_date'  %}
                {{ field(placeholder=field.label.text, value=begin_date) }}
            {% else %}
                {{ field(placeholder=field.label.text) }}
            {% endif %}
    </div>
{% endfor %}
<button type="submit" id='submit' name="button" >Continue</button>
</form>
{% endmacro %}

{% macro render_tasks(tasks, dates) %}
    {% for task in tasks %}
        {{ task.task }}
        {{ task.start_date.date() }}
    {% endfor %}
{% endmacro %}
