{% macro render_field(field) %}
    <div class="field">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="notification error">{{ error }}</div>
            {% endfor %}
            {% endif %}
        {{ field(placeholder=field.label.text) }}
    </div>
{% endmacro %}


{% macro render_dates(dates, form) %}
    <ul>
        {% for datevalue, date_data in dates.items() %}
            {% if date_data["month"] %}
                <li id='month'>{{ date_data["month"] }} </li>
            {% endif %}
            <div class="grid-container">
                <div> first-collumn </div>
                <div>
                    <div id = 'time_line'></div>
                    <li id = 'circle'>{{ date_data["day"] }}</li>
                </div>
                <div>
                    {{ form }}
                </div>
                <div>
            </div>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro render_load_bar(procent) %}
    {% for x in range(procent) %}
        <div id='time_bar'></div>
    {% endfor %}
{% endmacro %}
