{% extends "layout.html" %}
{% block title %} {{ planning_name }} {% endblock %}

{% block content %}

<header>
    <div id='planning_name'><h1>{{ planning_name }}</h1></div>
    <div class="grid-container">
        <div>PlaceHolders</div>
        <div id="created_at">{{ created_at }}</div>
        <div>{{ days_left }} day(s) Left</div>
    </div>
    <progress id='procent' value="{{ procent }}" max="100">{{procent}}%</progress>
</header>

<ul>
                {% for datevalue, date_data in dates.items() %}
                    {% if date_data['month'] %}
                        <header id='month'>{{ date_data['month'] }}</header>
                    {% endif %}
                <content class="grid-container">
                    <div class='display_task_list'>
                        {% for task in tasks %}

                            {% for task_date in task.Date.select() %}
                                    {% if datevalue == task_date.date.__format__('%d-%m-%Y') %}
                                        {% for task_num in range(task.task_num - 1) %}
                                            <li class='display_task-placeholder'></li>
                                        {% endfor %}
                                        <!-- check index [0] == print dislpay_task-start -->
                                            <li class='display_task'></li>
                                        <!-- check index [-1] == last num then dislpay_task-end-->
                                        {% for x in range(planning.Task.count() - task.task_num) %}
                                            <li class='display_task-placeholder'></li>
                                        {% endfor %}
                                    {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>

                    <div>

                        <li id = 'circle'>{{ date_data["day"] }}</li>
                    </div>
                    <div> <a href="{{ url_for('addtask', planning_name=planning_name) }}"  id="button" class="button" , planning_name>Add task</a> </div>
                    <div id = 'time_line'></div>
                </content>
                {% endfor %}
</ul>
{{planning.Task.id }}
{% endblock %}
