<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ planning_name }}</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>
    <body>
        <header>
            <div id='planning_name'><h1>{{ planning_name }}</h1></div>
            <div class="grid-container">
                <div>hello</div>
                <div id="created_at">{{ created_at }}</div>
                <div>{{ days_left }} Left</div>
            </div>
            <div id='Status'>{{ status }}</div>
        </header>
    </body>
</html>
