<!DOCTYPE html>
{% from 'macros.html' import render_dates, render_load_bar %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ planning_name }}</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>
    <body>
        <header>
            <div id='planning_name'><h1>{{ planning_name }}</h1></div>
            <div class="grid-container">
                <div>hello</div>
                <div id="created_at">{{ created_at }}</div>
                <div>{{ days_left }} day(s) Left</div>
            </div>
            <div id='time_bar_container'>{{render_load_bar(procent)}}</div>
        </header>
        <div id = 'time_line'></div>
        {{ render_dates(dates)  }}
    </body>
</html>
